<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GMU Game</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <h1>Retro Game Central</h1>
        <hr />
      </div>
    </header>

    <div class="container">
      <div class="first_row">
        <div class="game">
          <p>Minesweeper</p>
          <img
            src="static/minesweeper/minesweeper.jpg"
            alt="minesweeper"
            style="width: 155px; height: 150px"
          />
          <button
            type="submit"
            class="play_button"
            id="submit-btn"
            onclick="window.location.href='minesweeper.html'"
          >
            Play
          </button>
        </div>

        <div class="game">
          <p>Snake Game</p>
          <img
            src="static/snake/snake_game.jpg"
            alt="snakegame"
            style="width: 155px; height: 150px"
          />
          <button
            type="submit"
            class="play_button"
            id="submit-btn"
            onclick="window.location.href='snake.html'"
          >
            Play
          </button>
        </div>

        <div class="game">
          <p>Sudoku</p>
          <img
            src="static/sudoku/sudoku.jpg"
            alt="sudoku"
            style="width: 155px; height: 150px"
          />

          <button
            type="submit"
            class="play_button"
            id="submit-btn"
            onclick="window.location.href='sudoku.html'"
          >
            Play
          </button>
        </div>

        <div class="game">
          <p>Tetris</p>
          <img
            src="static/tetris/tetris.png"
            alt="tetris"
            style="width: 155px; height: 150px"
          />
          <button
            type="submit"
            class="play_button"
            id="submit-btn"
            onclick="window.location.href='tetris.html'"
          >
            Play
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
